<!DOCTYPE html>
<html ng-app="myApp">

  <head>
    <link rel="stylesheet" href="style.css" />
    
  </head>

  <body>
    <h1>Let's haveb breakfast</h1>
    <p>An example showing how to create services that inherit from a common factory.</p>
    
    <div ng-controller="Ctrl1">
        <h2>Controller 1 Says:</h2>
        <p>I'm having: <input ng-model="myBreakfast.breakfast" type="text" /></p>
    </div>
    
    <div ng-controller="Ctrl2">
        <h2>Controller 2 Says:</h2>
        <p>You're having: <input ng-model="yourBreakfast.breakfast" type="text" /></p>
    </div>
    

    <script src="http://code.angularjs.org/1.4.1/angular.js"></script>
    <script src="script.js"></script>
  </body>

</html>
